target
target-bin
out
vendor

# cargo lockfiles except from binaries
*/**/Cargo.lock
# Un-ignore Cargo.lock files within the fuzzers directory
!/fuzzers/**/Cargo.lock

.DS_Store
.env
.vscode
.zed

*.test
*.tmp
*.swp
*.o
*.a
*.so
*.out
*.elf
*.bin
*.dll
*.exe
*.dylib
*.dSYM
*.obj

.venv

callgrind.out.*
perf.data
perf.data.old

.vscode/settings.json
test.dict

.idea/

# Ignore all built fuzzers
!test_harness.cpp

# Ignore common dummy and logfiles
*.log

forkserver_test
__pycache__
*.lafl_lock
*.metadata

*atomic_file_testfile*
**/corpus_discovered

**/libaflmm_nyx/QEMU-Nyx
**/libaflmm_nyx/packer

# No gdb history
.gdb_history
# No llvm IR
*.ll

*.tar.gz

# Sometimes this happens
rustc-ice-*

# perf files
*.mm_profdata

# backup files
*.bak

# Coredumps
*.core

# example fuzzers workdirs
workdir
